<!DOCTYPE html>
<html>
  <head> 


  </head>
  <body>
    <h1>Hello World</h1>
    <h3>Hello test</h3>
    <p>This did not upload to git.</p>
    <form action='/articles/' method='GET'>
      <input type='text' name='q'/>
      <input type='submit' />
    </form>
    {% block content %} {% endblock content %}
  </body>
</html>
