{% extends "base.html" %}

{% block content %}

<h1>{{title}}! ({{id}})</h1>
<p>{{content}}!</p>

<ul>
  {% for x in object_list %}

</ul>
{% if x.title %}
<li><a href='/articles/{{ x.id }}/'>{{x.title }} - {{ x.content }}</a></li>

{% endif %} 
{% endfor %} 

{% endblock content %}
